<table class="rank table table-striped table-bordered table-sm" id="data">
    <thead>
        <tr>
            <th>Rk</th>
            <th>Team</th>
            <th>SHA</th>
            <th>UBLK%</th>
            <th>UBLK</th>
            <th>OG%</th>
            <th>SOG</th>
            <th>G%</th>
            <th>G</th>
        </tr>
    </thead>
    <tbody>
<% @data.each do |team_id, team_hsh| %>
        <tr>
            <td class="col-rank">##</td>
            <td><%= team_hsh[:name] %></td>
            <td class="data-sha"><%= sprintf("%.3f", team_hsh[:sha].to_f) %></td>
            <td class="data-publk"><%= sprintf("%.3f", team_hsh[:unblocked].to_f) %></td>
            <td class="data-ublk"><%= sprintf("%.3f", team_hsh[:sha].to_f * team_hsh[:unblocked].to_f) %></td>
            <td class="data-pog"><%= sprintf("%.3f", team_hsh[:accurate].to_f) %></td>
            <td class="data-og"><%= sprintf("%.3f", team_hsh[:sha].to_f * team_hsh[:unblocked].to_f * team_hsh[:accurate].to_f) %></td>
            <td class="data-pg"><%= sprintf("%.3f", team_hsh[:scored].to_f) %></td>
            <td class="data-g"><%= sprintf("%.3f", team_hsh[:sha].to_f * team_hsh[:unblocked].to_f * team_hsh[:accurate].to_f * team_hsh[:scored].to_f) %></td>
        </tr>
<% end %>
    </tbody>
</table>
