<style>
.toolbar-item {
    padding: 1em;
}
</style>
<script>
function set_csrf_token_header(xhr) {
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
}

function sort_table(table, sort_col_class, rank_col_class, desc) {
    var rows = $('tbody > tr', table)
    rows.sort(function(row_a, row_b) {
        var key_a = parseFloat($("td." + sort_col_class, row_a).text())
        var key_b = parseFloat($("td." + sort_col_class, row_b).text())
        if(desc) {
            return key_b - key_a
        } else {
            return key_a - key_b
        }
    })
    $.each(rows, function(index, row) {
        $("td." + rank_col_class, row).text(index + 1)
        table.append(row)
    })
}

function refresh_table() {
    $.ajax({
        url: '/rank/teams/data',
        data: {
            season: $("select[name=season-selector]").val(),
            side: $("input[name=side-selector]:checked").val(),
            situation: $("input[name=situation-selector]:checked").val(),
            type: $("input[name=type-selector]:checked").val()
        },
        type: 'GET',
        dataType: 'html',
        beforeSend: set_csrf_token_header,
        success: function(data) {
            var rankings_div = $("#rankings")
            rankings_div.empty()
            rankings_div.append(data)
            sort_table($("table#data"), 'data-g', 'col-rank', true)
        },
        error: function(xhr, status, response) {
            window.alert("Unable to refresh data in table!")
        }
    })
}

$(document).ready(function() {
    refresh_table()
    $("select[name=season-selector]").change(refresh_table)
    $("input[name=side-selector]").change(refresh_table)
    $("input[name=situation-selector]").change(refresh_table)
    $("input[name=type-selector]").change(refresh_table)
})
</script>
<header>
    <div id="banner">
        College Hockey
    </div>
</header>
<div id="wrap">
    <div id="content">
        <div id="title">Team Rankings</div>
        <div class="btn-toolbar">
            <div class="input-group toolbar-item">
                <div class="input-group-prepend">
                    <div class="input-group-text">Season</div>
                </div>
                <%= select_tag('season-selector', options_for_select(@seasons.map { |season| ["#{season[0..3]}-#{season[4..8]}", season] }), 'class': 'form-control') %>
            </div>
            <div class="btn-group btn-group-toggle toolbar-item" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="side-selector" value="O" autocomplete="off" checked> Offense
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="side-selector" value="D" autocomplete="off"> Defense
                </label>
            </div>
            <div class="btn-group btn-group-toggle toolbar-item" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="situation-selector" value="PP" autocomplete="off"> Power Play
                </label>
                <label class="btn btn-secondary active">
                    <input type="radio" name="situation-selector" value="EV" autocomplete="off" checked> Even Strength
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="situation-selector" value="PK" autocomplete="off"> Penalty Kill
                </label>
            </div>
            <div class="btn-group btn-group-toggle toolbar-item" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="type-selector" value="SOS" autocomplete="off" checked> SOS-Adjusted
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="type-selector" value="Act" autocomplete="off"> Actual
                </label>
            </div>
        </div> <!-- btn-toolbar -->
        <div id="rankings">
        </div> <!-- rankings -->
    </div> <!-- content -->
</div>  <!-- wrap -->
