<% if cfg[:asymmetrical] %>

###############################################################################
# Asymmetrical
###############################################################################

( # id_1, metric_1

    SELECT CAST(id_1 AS SIGNED) AS id_1,
           -id_2 AS id_2,
           metric_1 AS metric
<%   if cfg[:transform] %>
           , victory_1 AS victory
<%   end %>
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

) UNION ( # id_2, metric_2

    SELECT CAST(id_2 AS SIGNED) AS id_1,
           -id_1 AS id_2,
           metric_2 AS metric
<%   if cfg[:transform] %>
           , 1 - victory_1 AS victory
<%   end %>
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , -<%= adj_name %> AS <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

) UNION ( # id_1, metric_2

    SELECT -id_1 AS id_1,
           CAST(id_2 AS SIGNED) AS id_2,
           metric_2 AS metric
<%   if cfg[:transform] %>
           , victory_1 AS victory
<%   end %>
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

) UNION ( # id_2, metric_1

    SELECT -id_2 AS id_1,
           CAST(id_1 AS SIGNED) AS id_2,
           metric_1 AS metric
<%   if cfg[:transform] %>
           , 1 - victory_1 AS victory
<%   end %>
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , -<%= adj_name %> AS <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

)

<% else %>

###############################################################################
# Symmetrical
###############################################################################

( # id_1, metric

    SELECT id_1 AS id_1,
           id_2 AS id_2,
           metric_1 AS metric,
           victory_1 AS victory
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

) UNION ( # id_2, metric

    SELECT id_2 AS id_1,
           id_1 AS id_2,
<%   if cfg[:transform] %>
           1
<%   end %>
               - metric_1 AS metric
<%   if cfg[:transform] %>
           , 1 - victory_1 AS victory
<%   end %>
<%   cfg[:adjustments].each do |adj_name, adj_hsh| %>
           , -<%= adj_name %> AS <%= adj_name %>
<%   end %>
    FROM (<%= cfg[:metric_query] %>) AS mq

)

<% end %>
