<% if cfg[:transform] %>

  SELECT mt.*,
         IF(mt.id_1 >= 0,
            logistic(coeffs.coeff, coeffs.intercept, mt.metric),
            1 - logistic(coeffs.coeff, coeffs.intercept, mt.metric)) AS vp
  FROM (<%= BtzUtils.erb_from_cfg(File.join(%w[btz full_metric_query.sql.erb]), cfg) %>) AS mt
  JOIN (
    SELECT rt.id AS id, coeff.value AS coeff, intercept.value AS intercept
    FROM `<%= cfg[:ratings_table] %>` AS rt
    JOIN `<%= cfg[:coeffs_table] %>` AS coeff ON coeff.grp = rt.grp
    JOIN `<%= cfg[:coeffs_table] %>` AS intercept ON intercept.grp = rt.grp
    WHERE coeff.factor_name = 'vp_conversion'
      AND coeff.coeff = 1
      AND intercept.factor_name = 'vp_conversion'
      AND intercept.coeff = 0
  ) AS coeffs ON mt.id_1 = coeffs.id

<% else %>

  SELECT mt.*,
         mt.metric AS vp
  FROM (<%= BtzUtils.erb_from_cfg(File.join(%w[btz full_metric_query.sql.erb]), cfg) %>) AS mt

<% end %>
