###############################################################################
# Tables
###############################################################################

CREATE TABLE IF NOT EXISTS `<%= cfg[:ratings_table] %>` (id     INT    SIGNED   NOT NULL PRIMARY KEY,
                                                         grp    INT    UNSIGNED AUTO_INCREMENT,
                                                         rating DOUBLE UNSIGNED DEFAULT 100,
                                                         KEY (grp));;
CREATE TABLE IF NOT EXISTS `<%= cfg[:coeffs_table] %>` (grp         INT          UNSIGNED NOT NULL,
                                                        factor_name VARCHAR(255)          NOT NULL,
                                                        coeff       TINYINT      UNSIGNED NOT NULL,
                                                        value       DOUBLE       SIGNED,
                                                        PRIMARY KEY(grp, factor_name, coeff));;

###############################################################################
# Functions
###############################################################################

DROP FUNCTION IF EXISTS logistic;;
CREATE FUNCTION logistic(coeff DOUBLE, intercept DOUBLE, x DOUBLE)
RETURNS DOUBLE DETERMINISTIC
RETURN 1 / (1 + EXP(-(coeff * x + intercept)));;

DROP FUNCTION IF EXISTS logit;;
CREATE FUNCTION logit(coeff DOUBLE, intercept DOUBLE, x DOUBLE)
RETURNS DOUBLE DETERMINISTIC
RETURN (LN(x / (1 - x)) - intercept) / coeff;;

###############################################################################
# Data
###############################################################################

# Ensure all rated entities are present in the ratings table
INSERT INTO `<%= cfg[:ratings_table] %>` (id)
SELECT DISTINCT mt.id_1
FROM (<%= BtzUtils.erb_from_cfg(File.join(%w[btz full_metric_query.sql.erb]), cfg) %>) AS mt
LEFT JOIN `<%= cfg[:ratings_table] %>` AS btz ON mt.id_1 = btz.id
WHERE btz.id IS NULL;;

# Insert any VP coefficients that don't exist yet but should
<% (0..1).each do |coeff| %>
INSERT INTO `<%= cfg[:coeffs_table] %>` (grp, factor_name, coeff)
SELECT DISTINCT pk.grp, pk.factor_name, pk.coeff
FROM `<%= cfg[:coeffs_table] %>` AS ac
RIGHT JOIN (
    SELECT DISTINCT btz.grp, 'vp_conversion' AS factor_name, <%= coeff %> AS coeff
    FROM `<%= cfg[:ratings_table] %>` AS btz
) AS pk ON ac.grp = pk.grp AND
           ac.factor_name = pk.factor_name AND
           ac.coeff = pk.coeff
WHERE ac.grp IS NULL
   OR ac.factor_name IS NULL
   OR ac.coeff IS NULL;;
<% end %>

# Insert any adjustment coefficients that don't exist yet but should
<% BtzUtils.adj_coeffs(cfg).each do |factor_name, coeff| %>
INSERT INTO `<%= cfg[:coeffs_table] %>` (grp, factor_name, coeff)
SELECT DISTINCT pk.grp, pk.factor_name, pk.coeff
FROM `<%= cfg[:coeffs_table] %>` AS ac
RIGHT JOIN (
    SELECT DISTINCT btz.grp, '<%= factor_name %>' AS factor_name, <%= coeff %> AS coeff
    FROM `<%= cfg[:ratings_table] %>` AS btz
) AS pk ON ac.grp = pk.grp AND
           ac.factor_name = pk.factor_name AND
           ac.coeff = pk.coeff
WHERE ac.grp IS NULL
   OR ac.factor_name IS NULL
   OR ac.coeff IS NULL;;
<% end %>

# Delete any coefficients that exist but should not
DELETE ac
FROM `<%= cfg[:coeffs_table] %>` AS ac
LEFT JOIN (
<% BtzUtils.adj_coeffs(cfg).each do |factor_name, coeff| %>
    (
        SELECT DISTINCT btz.grp, '<%= factor_name %>' AS factor_name, <%= coeff %> AS coeff
        FROM `<%= cfg[:ratings_table] %>` AS btz
    )
    UNION
<% end %>
<% (0..1).each do |coeff| %>
    (
        SELECT DISTINCT btz.grp, 'vp_conversion' AS factor_name, <%= coeff %> AS coeff
        FROM `<%= cfg[:ratings_table] %>` AS btz
    )
    UNION
<% end %>
    (
        SELECT NULL, NULL, NULL
    )
) AS pk ON ac.grp = pk.grp AND
           ac.factor_name = pk.factor_name AND
           ac.coeff = pk.coeff
WHERE pk.grp IS NULL
   OR pk.factor_name IS NULL
   OR pk.coeff IS NULL;;
